
body {
    cursor:url(https://cdn.custom-cursor.com/db/4906/32/arrow2786.png) , default !important;}

a:hover, input:hover, button:hover {
    cursor:url(https://cdn.custom-cursor.com/db/4905/32/arrow2786.png)   , pointer !important
}
.Post{
    margin: 15px;
   padding: 15px;
}
.border{
    a
}