
body {
    cursor:url(https://cdn.custom-cursor.com/db/4906/32/arrow2786.png) , default !important;}

a:hover, input:hover, button:hover {
    cursor:url(https://cdn.custom-cursor.com/db/4905/32/arrow2786.png)   , pointer !important
}
.img-post{
    width: 374px;
    height: 300px;
    margin-bottom: 5px;
}
.border{
    margin-top: 15px;
    padding: 15px;
}
.titulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
p{
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

